html, body, #root {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: .95rem;
  background: #1F2024;
}

.brand-logo {
  height: 40px;
  padding-right: 5px;
}

.prezooBorder {
  border-radius: 5px;
  border: 1px solid #585858;
  margin-top: 15px;
}

.w-100 {
  width: 100%;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
}

.cta-prezoo-button {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 6px;
  background-color: #751980;
  box-shadow: 0 10px 20px 3px rgba(82, 104, 206, 0.15);
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.component-root, .root {
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.cta-prezoo-button:hover {
  background-color: #d3a7ff;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  color: #fff;
}

.small-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #929eaa;
  font-size: 12px;
  line-height: 17px;
}

.btn-primary {
  color: #fff;
  background-color: #751980 !important;
  border-color: #751980 !important;
  cursor: pointer;
  min-width: 150px;
}

.btn-primary:hover {
  background-color: #d3a7ff !important;
  border-color: #d3a7ff !important;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  color: #fff;
  cursor: pointer;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.full-screen-center {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: auto;
}

video {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.host-camera {
  height: 100px;
  width: 150px;
}

h1.route-title {
  font-weight: 900;
  font-size: 2rem;
}

.prez-box {
  background: rgba(83, 87, 102, 0.6);
  backdrop-filter: blur(40px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 10px;
  color: white;
  padding: 10px;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.prez-box > .sub-head {
  background: #3F6EE5;
  border-radius: 8px;
  font-size: 12px;
  position: relative;
  top: -20px;
  padding: 5px;
  max-width: 150px;
}

.prez-box span {
  position: relative;
  top: -10px;
}

@media screen and (max-width: 768px) {
  .hide-mobile {
    display: none;
  }
}