.carouselWrapper {
  /* Height of navbar is 40px */
  height: calc(100vh - 40px);
  height: -o-calc(100vh - 40px); /* opera */
  height: -webkit-calc(100vh - 40px); /* google, safari */
  height: -moz-calc(100vh - 40px); /* firefox */
  position: relative;
  padding: 10px;
  border: .2rem solid #ececec;
  border-radius: 8px;
  margin-right: 0;
  margin-left: 0;
  color: #212529;
}

.slide-show-img {
  height: 100%;
  width: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 75px;
  width: 75px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rgb(0, 0, 0);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rgb(0, 0, 0);
}

.carousel, .carousel-inner, .carousel-item {
  height: 100%;
}