.slide-show-img {
  height: 300px;
  width: auto;
}

.carousel-indicators li { 
  visibility: hidden; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 75px;
  width: 75px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rgb(0, 0, 0);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rgb(0, 0, 0);
}