.carouselWrapper {
  /* Height of navbar is 40px */
  height: calc(100vh - 70px);
  height: -o-calc(100vh - 70px); /* opera */
  height: -webkit-calc(100vh - 70px); /* google, safari */
  height: -moz-calc(100vh - 70px); /* firefox */
}
.carouselWrapper img {
  height: 100%;
}

#full-screen-target:fullscreen {
  background-color: #ececec;
}