.main-title {
  font-family: 'Acme', sans-serif;
  margin-bottom: 24px;
  font-size: 50px;
  font-weight: 900;
}

.dropzone > div {
  height: 100%;
  width: 100%;
}

.backgroundImagePresent {
  background: url('/images/teemu-paananen-bzdhc5b3Bxs-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 400px;
}