.fill, .root { 
  background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100%;
}

.brand-logo {
  height: 25px;
  padding-right: 5px;
}

.dropzone {
  width : 100%;
  height: 100%;
  border : 2px dotted black;
  border-radius: 10px;
  background-color: #dedede;
  text-align: center;
  margin: 10px;
  cursor: pointer;
}